#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Run WatchPupPy
Exec=gnome-terminal -- bash -c "./run_watchpuppy.sh"
# modify to match your app path
Path=/home/fajtai/Git/WatchPupPy/scripts
Terminal=true
Type=Application
# modify to match your icon path
Icon=/home/fajtai/Git/WatchPupPy/assets/icon.png